.card {
    margin: 2dvh 2dvw;
    min-height: 40dvh;
    height: 120dvh;
}

#screen-buttons > button {
    min-width: 6rem;
    min-height: 3rem;
}

#view-button {
    min-width: 6rem;
    min-height: 6rem;
}

#main-buttons > #timer-button, #toggle-text {
    min-width: 4.5rem;
    min-height: 4.5rem;
}

#title {
    font-size: 2.5rem;
    font-family: "Space Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#code-size-text {
    font-size: 2rem;
}

#code-text {
    font-size: clamp(1.5rem, 2vw, 6rem);
    text-align: center;
    font-family: "Press Start 2P", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 576px) {
    #title {
        font-size: 1.5rem;
    }
    
    #code-size-text {
        font-size: 1rem;
    }

}
